.Grids {
  @apply flex flex-col lg:flex-row flex-grow mt-bs overflow-scroll w-full;

  @media screen and (min-width: 1024px) {
    width: calc(100vw - 224px - 48px);
  }
}

.Grid {
  min-width: theme("spacing.56");

  &:not(:last-child) {
    @apply mb-bs lg:mr-bs;
  }
}

.Driver {
  &-actions {
    @apply flex flex-col lg:flex-row justify-end;
  }

  &-detail {
    @apply flex flex-row lg:flex-col;
  }
}

.List {
  @apply ml-bs lg:ml-0;

  &-item {
    &:not(:last-child) {
      @apply mb-xs;
    }

    &--additional {
      @apply hidden lg:block;
    }

    &Subtitle {
      @apply text-sm;
    }

    &Title {
      @apply text-xs text-gray-500;
    }
  }
}

.Pagination {
  @apply flex items-center justify-center pt-sm;

  &-button {
    @apply bg-white outline-none p-2xs rounded-2xs text-sm transition-all duration-100;

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

    &:active {
      @apply shadow-none;
    }

    &:focus {
      @apply bg-ruby-100;
    }

    &:disabled {
      @apply cursor-not-allowed opacity-50 shadow-none text-gray-700;
    }

    &:not(:last-child) {
      @apply mr-bs;
    }
  }

  &-icon {
    @apply text-ruby-500;
  }
}

.Search {
  @apply bg-gray-100 flex h-full mb-bs lg:mb-0 lg:mr-bs p-sm rounded-xs;

  :first-child {
    @apply mr-xs;
  }

  &-field {
    width: calc(100% - 40px);
  }

  &-icon {
    @apply h-md text-ruby-500 w-md;
  }

  &-input {
    @apply bg-transparent outline-none text-sm leading-5 w-full;

    &::placeholder {
      @apply text-gray-700;
    }
  }
}
