.Grids {
  @apply flex flex-col lg:flex-row mt-bs overflow-scroll w-full;

  @media screen and (min-width: 1024px) {
    width: calc(100vw - 224px - 48px);
  }
}

.Grid {
  min-width: theme("spacing.56");

  &:not(:last-child) {
    @apply mb-bs lg:mr-bs;
  }
}

.Driver {
  &-actions {
    @apply flex flex-col lg:flex-row justify-end;
  }

  &-detail {
    @apply flex flex-row lg:flex-col;
  }
}

.List {
  @apply ml-bs lg:ml-0;

  &-item {
    &:not(:last-child) {
      @apply mb-xs;
    }

    &--additional {
      @apply hidden lg:block;
    }

    &Subtitle {
      @apply text-sm;
    }

    &Title {
      @apply text-xs text-gray-500;
    }
  }
}

.Search {
  @apply bg-gray-100 flex h-full mb-bs lg:mb-0 lg:mr-bs p-sm rounded-xs;

  :first-child {
    @apply mr-xs;
  }

  &-field {
    width: calc(100% - 40px);
  }

  &-icon {
    @apply h-md text-ruby-500 w-md;
  }

  &-input {
    @apply bg-transparent outline-none text-sm leading-5 w-full;

    &::placeholder {
      @apply text-gray-700;
    }
  }
}
